<div class="page-header">

  <h1> <%= link_to baskets_path do %>  <i class="fa fa-arrow-left"></i> <% end %>Ausgabe<i class="fa fa-building-o pull-right"></i> </h1>

</div>

<div class="col-lg-12" ng-controller="ItemController">
  <%= render 'form' %>
</div>
