    <%= bootstrap_devise_error_messages! %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('.sign_up', :default => "Sign up") %></h4>
      </div>
      <div class="panel-body">
      <%= render "form" %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>

