<div class="list-group">
  <% Vendor.where(:user_id => current_user.id).each do |vendor| %>
      <%= link_to vendor_path(vendor) do %>
          <li class="list-group-item">
          <%= vendor.name %>
          <span class="badge pull-right"> <%=sum_price(find_items_of_basket(find_baskets_of_vendor(vendor.id))) %> &euro;</span>
          </li>
      <% end %>
  <% end %>
</div>