<div class="page-header">

  <h1> <%= link_to payments_path do %>  <i class="fa fa-arrow-left"></i> <% end %>Zahlungsmethode ändern<i class="fa fa-credit-card pull-right"></i></h1>

</div>
<%= render 'form' %>

