<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Liste</h3>
    </div>

    <div class="panel-body">

        <div class="list-group">
          <% Category.where(:user_id => current_user.id).each do |category| %>
          <%= link_to category_path(category) do %>
              <li class="list-group-item">
                <%= category.name %>
                <span class="badge pull-right">
                      <%= category.glyphicon %> &euro;
                    </span>
              </li>
              <%end%>
          <% end %>

        </div>

    </div>

</div>

<% #Category.where(:user_id => current_user.id).each do |category| %>
    <%= #link_to category.name, category_path(category), :class => 'list-group-item'%>
<%#end%>