<div class="page-header">

  <h1> <%= link_to categories_path do %>  <i class="fa fa-arrow-left"></i> <% end %> Kategorie anlegen<i class="fa fa-files-o pull-right"></i></h1>

</div>

<div class="col-sm-12 col-md-8">
  <%= render 'form' %>
</div>




<div class="col-md-4 hidden-sm hidden-xs">
  <%= render 'list' %>
</div>
