<div class="page-header">

  <h1> <%= link_to incomes_path do %>  <i class="fa fa-arrow-left"></i> <% end %>Einnahme anlegen<i class="fa fa-money pull-right"></h1>

</div>
<div class="col-lg-8">
  <%= render 'form' %>
</div>
<div class="col-lg-4">
  <%= render 'list' %>
</div>

