<footer class="container">
  <div class="col-xs-12 col-lg-9">
    <hr>
    <p class="navbar-text">Bud$et 2015</p>
    <ul class="nav navbar-nav  pull-right">
      <li><%= link_to "/help" do %><i class="fa fa-question"></i> Help <% end %> </li>
      <li><%= link_to "/impressum" do %><i class="fa fa-info"></i> Impressum <% end %> </li>
    </ul>
  </div>
</footer>